@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #dfe4ea;
  margin: 0;
  min-height: 100vh;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Poppins", "sans-serif";
  justify-content: center;
  align-items: center;
}

.information input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

button {
  width: 320px;
  height: 50px;
  margin-top: 15px;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

.employees {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.employee {
  width: 800px;
  height: auto;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding: 10px;
  font-family: monospace;
}

.employee h3 {
  margin: 20px;
}
